<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <dev>
      <speculation_rules>
        <enabled>1</enabled>
        <eagerness>moderate</eagerness>
        <exclude_paths>customer
login
logout
auth
cart
checkout
search
download
redirect
rewrite
store
productalert</exclude_paths>
        <exclude_extensions>pdf,zip</exclude_extensions>
        <exclude_selectors>.do-not-prerender</exclude_selectors>
      </speculation_rules>
    </dev>
    <system>
      <full_page_cache>
        <bfcache_enabled>0</bfcache_enabled>
        <excluded_paths>checkout|cart|customer|wishlist|downloadable|sales|vault|review|newsletter</excluded_paths>
      </full_page_cache>
    </system>
  </default>
</config>
