<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="speculation_rules" translate="label" type="text" sortOrder="594" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Speculative Loading</label>

                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Speculation Rules</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Speculative loading tries to guess the user's intentions and start to load pages before a link is actually clicked. This makes the perceived load time faster.</comment>
                </field>

                <field id="mode" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Mode</label>
                    <options>
                        <option label="Prefetch">prefetch</option>
                        <option label="Prerender">prerender</option>
                    </options>
                    <comment>Prerender is faster, but can skew analytics data unless accounted for, due to JS executing before a page is actually opened.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="eagerness" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Eagerness</label>
                    <options>
                        <option label="Conservative">conservative</option>
                        <option label="Moderate">moderate</option>
                        <option label="Eager">eager</option>
                    </options>
                    <comment>Higher eagerness will start loading pages sooner, but may load pages that the user never visits.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="exclude_paths" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Exclude URL Patterns</label>
                    <comment>One pattern per line</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="exclude_extensions" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Exclude File Extensions</label>
                    <comment>Comma-separated list</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="exclude_selectors" translate="label comment" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Exclude Selectors</label>
                    <comment>One CSS selector per line</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="bfcache" translate="label" sortOrder="590" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Back/Forward Cache</label>
                <comment><![CDATA[
                    <p>Go back and forwards in the browser history on most pages without reload, by allowing them to be cached in the browser temporarily.</p>
                    <p><b>Important:</b> Support for bfcache depends on your Full Page Cache backend. While this module works out-of-the-box with Magento's built-in cache, using Varnish, Fastly, or other reverse proxies requires additional configuration. Please see the <a href="https://github.com/mage-os-lab/module-theme-optimization/blob/main/README.md#varnish--fastly-configuration" target="_blank">Varnish & Fastly Configuration</a> section in the README for details.</p>
                ]]></comment>
                <group id="general" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General Settings</label>
                    <attribute type="expanded">1</attribute>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable Back/Forward Cache</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[
                        Enable browser back/forward cache to store pages in memory for faster navigation.
                        ]]>
                        </comment>
                    </field>
                    <field id="enable_user_interaction_reload_minicart" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Update Mini Cart on User Interaction</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[
                        <b>Yes:</b> Mini cart updates only after user interaction when page is restored from cache.<br>
                        <b>No:</b> Mini cart updates immediately on page restore.<br>
                        <b>Recommended "Yes" to maintain optimal Page Speed and Core Web Vitals scores.</b>
                        ]]>
                        </comment>
                    </field>
                    <field id="auto_close_menu_mobile" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Auto Close Menu</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[
                        Automatically close open menus when page is restored from back/forward cache (for compatible themes).
                        ]]>
                        </comment>
                    </field>
                </group>
                <group id="scope" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cache Exclusions</label>
                    <comment><![CDATA[
                        <p><b>Note:</b> This configuration is optional for most sites.<br>
                            The extension automatically excludes non-cacheable URLs from back/forward cache.</p>
                        <p>Use the blacklist below if you have custom cached URLs that load private data via JavaScript.</p>
                    ]]></comment>
                    <field id="exclude_url_patterns" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Exclude URLs</label>
                        <comment><![CDATA[
                        Enter URL parts (substring), one per line. Any URL containing one of these patterns will be excluded from the back/forward cache.<br>
                        Example:<br>
                        <code>customer</code><br>
                        <code>checkout</code><br>
                        <code>account</code>
                        ]]></comment>
                    </field>
                </group>
            </group>
            <group id="view_transitions" translate="label" sortOrder="598" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>View Transitions</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable View Transitions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable view transitions when loading pages on the same domain.</comment>
                </field>
                <field id="enable_admin" translate="label tooltip" type="select" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable View Transitions for Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>Disable if you don't want the view transitions, or when using the Mage-OS Admin Theme or any other Admin theme that has View Transitions built in</tooltip>
                </field>
                <field id="enable_for_bfcache" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Apply on Back/Forward</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Apply view transitions when going back or forward with browser navigation. Back/Forward Cache can render pages faster without.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
